.user-detail-header {
  min-height: 250px;
  background-color: #ff5b27;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;

  .user-detail {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;

    h2 {
      margin-bottom: 12px;
    }
  }

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.user-detail-card {
    margin-top: 32px;
}