.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    border-collapse: collapse;
    margin: 12px;
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);  
        cursor: pointer;
        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }
          &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

    &:last-child {
        border-bottom: 0;
    }
        td {
        height: 48px;

        &:first-child {
            padding-left: 16px;
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }
    }


    th {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}}