.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    th {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}